####################################################
# CONTABLE RUS
# Variables de entorno
####################################################

# =====================================
# Aplicación
# =====================================

APP_ENV=development

FLASK_DEBUG=False

SECRET_KEY=REEMPLAZAR_CON_UNA_CLAVE_SEGURA

# =====================================
# Base de datos
# =====================================

DATABASE_URL=

# =====================================
# Límites del negocio
# =====================================

LIMITE_RUS=8000

IMPUESTO_NORMAL=20

IMPUESTO_ALERTA=50